<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Server=.;Database=CodeFirstApp;User Id=sa;Password=test -->
  <connectionStrings>
    <add name="ExtremeWorldEntities" connectionString="Server=DESKTOP-DIF02O5;Database=MMORPGDATA;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>