# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

*/Client/Library
*/Client/Temp
*/Client/obj
*/Client/builds
*/Client/[Ll]ogs
*/Client/[Mm]emoryCaptures
*/Client/UserSettings
*/Client/Packages

# 忽略 HybridCLRData 不忽略子文件夹中build_libil2cpp.command
*/Client/HybridCLRData/*
*/Client/Assets/HybridCLRGenerate/*
*/Client/Assets/HybridCLRGenerate.meta

*/Client/.idea
*/Client/.vs
*/Client/.gradle
*/Server/GameServer/.idea
*/Server/GameServer/.vs
*/Server/GameServer/.gradle

*.sln
*.csproj
*.userprefs

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
